@import "tailwindcss";

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@theme {
  --font-inter: 'Inter', sans-serif;
}

/* Animação do Background */
@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.animated-bg {
    background: linear-gradient(-45deg, #111827, #1f2937, #1e3a8a, #111827);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

/* Efeito de Vidro (Glassmorphism) */
.glass-card {
    background: rgba(31, 41, 55, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}