<footer class="bg-gray-900 text-gray-300 py-10">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col md:flex-row justify-between items-center gap-6">
            
            <div class="text-center md:text-left">
                <img src="WEBLITOTECH.png" alt="Weblito Tech" class="h-10 mx-auto md:mx-0 mb-3 grayscale opacity-60">
                <p class="text-sm text-gray-500">
                    &copy; 2025 Weblito Tech.<br>Todos os direitos reservados.
                </p>
            </div>

            <div class="flex flex-col items-center md:items-end">
                <span class="text-sm font-semibold text-gray-400 tracking-wider mb-3">
                    Entre em contato:
                </span>

                <div class="flex items-center space-x-5">
                    
                    <a href="mailto:arthurnorberto4@gmail.com" class="group relative text-gray-400 hover:text-white transition duration-300">
                        <i class="fa-solid fa-envelope fa-lg group-hover:scale-110 transform transition"></i>
                        <span class="absolute -top-8 left-1/2 transform -translate-x-1/2 bg-black text-white text-[10px] py-1 px-2 rounded opacity-0 group-hover:opacity-100 transition duration-300 whitespace-nowrap pointer-events-none">
                            E-mail
                        </span>
                    </a>

                    <a href="https://wa.me/5531971540035" target="_blank" class="group relative text-gray-400 hover:text-green-500 transition duration-300">
                        <i class="fa-brands fa-whatsapp fa-lg group-hover:scale-110 transform transition"></i>
                        <span class="absolute -top-8 left-1/2 transform -translate-x-1/2 bg-black text-white text-[10px] py-1 px-2 rounded opacity-0 group-hover:opacity-100 transition duration-300 whitespace-nowrap pointer-events-none">
                            WhatsApp
                        </span>
                    </a>

                    <a href="https://github.com/ArthurNorb" target="_blank" class="group relative text-gray-400 hover:text-gray-100 transition duration-300">
                        <i class="fa-brands fa-github fa-lg group-hover:scale-110 transform transition"></i>
                        <span class="absolute -top-8 left-1/2 transform -translate-x-1/2 bg-black text-white text-[10px] py-1 px-2 rounded opacity-0 group-hover:opacity-100 transition duration-300 whitespace-nowrap pointer-events-none">
                            GitHub
                        </span>
                    </a>

                    <a href="https://www.linkedin.com/in/arthur-norberto/" target="_blank" class="group relative text-gray-400 hover:text-blue-500 transition duration-300">
                        <i class="fa-brands fa-linkedin fa-lg group-hover:scale-110 transform transition"></i>
                        <span class="absolute -top-8 left-1/2 transform -translate-x-1/2 bg-black text-white text-[10px] py-1 px-2 rounded opacity-0 group-hover:opacity-100 transition duration-300 whitespace-nowrap pointer-events-none">
                            LinkedIn
                        </span>
                    </a>

                </div>
            </div>
        </div>
    </div>
</footer>